.bg-img{class: "card-type-#{@card.card_type.downcase}"}
.container
  %h1.card_title= @card.title
  %h2.card_subtitle
    = @card.card_type
    - if @card.subtype.present?
      = " - #{@card.subtype}"
  %h3.card_faction{faction: @card.faction.downcase}
    = @card.faction
  %img.card_img{src: netrunner_img(@card.imagesrc)}
  %pre.card_text
    = raw fix_icons @card.text
  :css
    .bg-img { background-image: url(#{netrunner_img(@card.imagesrc)}); }
