!!! 5
%html
  %head
    %title Netrunner Card of the Day
    %meta{name:"viewport", content:"width=device-width, user-scalable=no"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %header
      Netrunner Card of the Day
      .sub-header
        For
        = Date.today.strftime('%B %-d, %Y')
    %section
      = yield
    %footer
      %hr
        Created by
        %a{href: 'https://twitter.com/giladgo'}
          @giladgo
